body
{
    width: 100vw;
}

.container
{
   margin: 76px;
   display: flex;
}

.left-container
{
    width: 50%;
}

.right-container
{
    width: 50%;
    padding: 20px;
}

.text-input
{
    display: block;
    height: 34px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px;
    outline: none;
}

label
{
    display: block;
    width: 100%;
}

.gender
{
    display: inline;
    margin: 5px;
}

select
{
    display: block;
    margin-bottom: 20px;
    border-radius: 10px;
}

.btn
{
    display: block;
    margin-bottom: 20px;
    width: 300px;
}

.btn-info
{
    background-color: azure;
}

.btn-success
{
    width: fit-content;
}